{% extends 'base.html'%}
{% load static %} 
{% block content %}





 
 <!-- Material form contact -->
<div class="row">
<div  class="col">
<div class="card">
<div class="col" >
<div class="card text-white bg-success mb-100" style="max-width: 100rem;  max-hight:30rem; text-align:center">
  
  <div class="card-body">
    <h5 class="card-title">گروه مشاورین املاک هماهنگ </h5>
    <p class="card-text">آدرس : مشهد خیابان سرافرازان 52 -نبش خسروی 1- املاک هماهنگ</p>
    <p class="card-text">تلفن همراه: 09152288566</p>
     <p class="card-text"> تلفن دفتر :05138229578 </p>
  </div>
  
</div>
</div>

    <h5 class="card-header info-color white-text text-center py-4">
        <strong> تماس با ما</strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">

        <!-- Form -->
        <form class="text-center" style="color: #757575;" action="{% url 'Contact'%}" method="post" >{% csrf_token %}
            {{ ContactForm }}
            <!-- Name -->
            <div class="md-form mt-3">
                <input type="text" id="materialContactFormName" class="form-control" placeholder="نام شما...">
                <label for="materialContactFormName">نام</label>
            </div>
             <div class="md-form mt-3">
                <input type="text" id="materialContactFormName" class="form-control" placeholder="نام خانوادگی شما...">
                <label for="materialContactFormName">نام خانوادگی</label>
            </div>
             <div class=" row md-form mt-3  align-items-center">
             <div class="col-sm-4 my-1 ">
            
                <input type="text" id="materialContactFormName" class="form-control" placeholder="شماره تماس شما...">
                <label for="materialContactFormName"> شماره تماس </label>
            </div>
            </div>
            <br>
            <!-- Subject -->
            <span>موضوع</span>
            <select class="mdb-select">
                <option value="" disabled>انتخاب موضوع</option>
                <option value="1" selected>بازخورد</option>
                <option value="2"> معرفی ملک </option>
                <option value="3"> درخواست ملک</option>
                <option value="4">دیگر </option>
            </select>

            <!--Message-->
            <div class="md-form">
                <textarea id="materialContactFormMessage" class="form-control md-textarea" rows="3" placeholder="توضیحات خود را در اینجا بنویسید..."></textarea>
                <label for="materialContactFormMessage"></label>
            </div>

            <!-- Copy -->
           

            <!-- Send button -->
            <button class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect" type="submit">ارسال</button>

        </form>
        <!-- Form -->
   
    </div>

</div>
</div>
</div>


<!-- Material form contact -->


{% endblock content %}
