{% extends 'base.html'%}
{% load static %} 
{% block content %}
<div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12 " >
        <div class="row" style="margin-top:62px;">
            <a class="btn-group" role="group" aria-label="Basic example">
    
  <button type="button" class="btn btn-secondary">آپارتمان</button>
  <button type="button" class="btn btn-secondary">ویلایی</button>
  <button type="button" class="btn btn-secondary">زمین</button>
            </a>
        </div>
    </div>
</div>




{% endblock content %}